extends base
block content
    h2 Forget Password
    .container-form 
      form.forgetPassword
          .entry
            .entry-text
              | Email
            input(type='email', name='email', placeholder='Your Email')
          .btn-parent
            button(type="submit").btn.btn-primary Reset Password