nav
  ul.navigation
    li.nav-line
      a.white-anchors(href='#feature-section') FEATURES
    li.nav-line
      a.white-anchors(href='#review') REVIEWS
    li.nav-line
      a.white-anchors(href='/plans') PLANS
    if user
      li.nav-line
          a.white-anchors(href='/me') #{user.name}
      li.nav-line
          a.white-anchors(href="/logout") LOGOUT
    else
      li.nav-line
          a.white-anchors(href='/login') LOGIN
