extends base
block content
    h2 Forget Password 
    form.resetPassword
        .entry
          .entry-text
            | Token
          input(type='text', name='token', placeholder='Enter secret Token')
        .entry
          .entry-text
            | Password
          input(type='password', name='password', placeholder='Your Email')
        .entry
          .entry-text
            | Confirm Password
          input(type='password', name='confirmPassword', placeholder='Your Email')
        .btn-parent
          button(type="submit").btn.btn-primary Reset Password